// Theme color
$color-primary: #2C53D2;
$color-secondary: orangered;

// Google fonts
$body-font: 'Open Sans', sans-serif;
$heading-font: 'Open Sans', sans-serif;
$logo-font : 'Roboto', sans-serif;

// Font Color
$body-font-color: #666666;
$heading-font-color: #333333;
$bg-color-1: #f2f2f2;
$bg-color-2: #e5e5e5;
$p-color-2: #d9d9d9;
$color-white:#ffffff;
$color-black: #000000;


