.hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    
    &__text {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        &::after {
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($color-black, .7);
            z-index: -1;
        }

        .container {
            text-align: center;
        }

        .hero-heading {
            color: $color-white;
            margin: 10rem 0 2rem;
            text-transform: uppercase;
        }

        .hero-p {
            color: $bg-color-2;
        }

    }

    &__cta {
        background: rgba($color-primary, .9);
        text-align: right;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond(large-phone) {
            text-align: center;
            height: 10rem;
        }





        .cta--text {
            color: $color-white;
            text-align: left;
            padding: 1rem 0;
        }

        .cta--button {
            background: $color-white;
            color: $color-primary;
            

        }
    }

    &.hero-image {
        background-image: url(../images/hero-3.jpg);
    }
}


