.section-heading {
    margin-bottom: 5rem;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        bottom: -1.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 6rem;
        height: .2rem;
        background: $color-primary;
    }
}

