.testimonial {
    padding-bottom: 5rem;
    &__box {

        .testimonial-single {

            p {
                padding-left: 4rem;
                margin-bottom: 0;
                position: relative;

                i {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 2.5rem;
                    color: $bg-color-1;
                }
            }

            .author-detail {
                padding: 3rem 4rem;
                display: flex;
                align-items: center;
               
               .author--image {
                   height: 6rem;
                   width: 6rem;
                   background-position: center;
                   background-size: cover;
                   border-radius: 50%;
                   margin-right: 1.5rem;

                   &-1 {
                        background-image: url(../images/tilok1.jpg);
                   }
                   &-2 {
                        background-image: url(../images/team-1.jpg);
                   }
                   &-3 {
                        background-image: url(../images/team-2.jpg);
                   }
               }
               
               .author-name {
                  font-weight: 700;
                  line-height: 1.5;


                .author-position {
                    display: block;
                    font-size: 1.6rem;
                    font-weight: normal;
                }
               }
            }
        }

        .owl-dots {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1.5rem;

            button {
                height: 1rem;
                width: 1rem;
                background: rgba($color-black, .1);
                margin: .5rem;
                border-radius: 50%;

                &.active {
                   background: $color-primary;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

        }
    }
}