html {
    font-size: 62.5%;

    @include respond(phone) {
        font-size: 50%;
    }
}

html,
body {
    height: 100%;
}

.container-warp {
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 5rem;
}