.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.section-padding {
    padding-top: 8rem;
}

.buttom-padding {
    padding-bottom: 5rem;
}

.page-padding {
    margin: 10rem 0;
}

